In [71]:
### import ###
import pandas as pd
import numpy as np
import random
import datetime

In [72]:
### constants ###
seed = 111
random.seed(seed)

latest_date_of_employment = datetime.datetime(2000, 1, 1)

earliest_date_of_employment = datetime.datetime(1985, 1, 1)

time_difference = (latest_date_of_employment - earliest_date_of_employment).days

min_age_at_employment = 10 * 365 # 10 years in days

max_age_at_employment = 30 * 365 # 30 years in days


adventurers_filepath = '../data/adventurers.csv'

adventurers_t2_filepath = '../data/adventurers_t2.csv'

arcane_evaluation_output_filepath = '../data/arcane_evaluation.csv'

arcane_evaluation_t2_output_filepath = '../data/arcane_evaluation_t2.csv'

classes = ['barbarian', 'bard', 'cleric', 'druid', 'fighter', 'monk', 'paladin',
           'ranger', 'rogue', 'sorcerer', 'warlock', 'wizard']

religions = ['None', 'Auril', 'Azuth', 'Bane', 'Beshaba', 'Bhaal', 'Chauntea', 'Cyric', 'Deneir',
             'Eldath', 'Garagos', 'Gond', 'Helm', 'Ilmater', 'Kelemvor', 'Lathander', 'Leira',
             'Lliira', 'Loviatar', 'Malar', 'Mask', 'Mielikki', 'Myrkul', 'Mystra', 'Oghma',
             'Savras', 'Selune', 'Shar', 'Silvanus', 'Sune', 'Talona', 'Talos', 'Tempus',
             'Torm', 'Tymora', 'Tyr', 'Umberlee', 'Waukeen']

previous_employments = ['None', 'Blacksmith', 'Farmer', 'Musician', 'Merchant', 'Soldier', 'Herbalist',
                        'Alchemist', 'Miner', 'Hunter', 'Artisan', 'Tavern Keeper', 'Fisherman',
                        'priest', 'thief', 'Academic Scholar', 'Apothecary', 'Ship Capitan', 'Lumberjack',
                        'Animal Trainer', 'Guard', 'Mercenary', 'Cook', 'Librarian']

races = ['Dragonborn', 'Dwarf', 'Elf', 'Gnome', 'Half-elf', 'Halfling', 'Half-Orc', 'Human', 'Tiefling']

In [73]:
### functions ###

def get_random_employment_date():
    random_amount_of_days = random.randint(0, time_difference)
    return earliest_date_of_employment + datetime.timedelta(days=random_amount_of_days)

def get_random_date_of_birth(employment_date):
    random_amount_of_days = random.randint(min_age_at_employment, max_age_at_employment)
    return employment_date - datetime.timedelta(days=random_amount_of_days)

In [74]:
adventurers = pd.read_csv(adventurers_filepath)

adventurers.insert(loc=3,
                   column='race',
                   value=[random.choice(races) for _ in range (adventurers.shape[0])])


adventurers.insert(loc=5,
                   column='class',
                   value=[random.choice(classes) for _ in range (adventurers.shape[0])])

adventurers.insert(loc=6,
                   column='start_of_employment',
                   value=[get_random_employment_date() for _ in range (adventurers.shape[0])])

adventurers.insert(loc=7,
                   column='end_of_employment',
                   value=['' for _ in range (adventurers.shape[0])])

adventurers.insert(loc=8,
                   column='religion',
                   value=[random.choice(religions) for _ in range (adventurers.shape[0])])

adventurers.insert(loc=9,
                   column='previous_employment',
                   value=[random.choice(previous_employments) for _ in range (adventurers.shape[0])])

adventurers.insert(loc=4,
                   column='date_of_birth',
                   value=[get_random_date_of_birth(adventurers.at[i, 'start_of_employment'])
                          for i in range (adventurers.shape[0])])

adventurers.to_csv(arcane_evaluation_output_filepath, index=False)

In [78]:
# Generate new data for t2 adventurers
adventurers_t2 = pd.read_csv(adventurers_t2_filepath)

adventurers_t2 = adventurers_t2.iloc[len(adventurers):].reset_index(drop=True)

adventurers_t2.insert(loc=3,
                   column='race',
                   value=[random.choice(races) for _ in range (adventurers_t2.shape[0])])


adventurers_t2.insert(loc=5,
                   column='class',
                   value=[random.choice(classes) for _ in range (adventurers_t2.shape[0])])

adventurers_t2.insert(loc=6,
                   column='start_of_employment',
                   value=[get_random_employment_date() for _ in range (adventurers_t2.shape[0])])

adventurers_t2.insert(loc=7,
                   column='end_of_employment',
                   value=['' for _ in range (adventurers_t2.shape[0])])

adventurers_t2.insert(loc=8,
                   column='religion',
                   value=[random.choice(religions) for _ in range (adventurers_t2.shape[0])])

adventurers_t2.insert(loc=9,
                   column='previous_employment',
                   value=[random.choice(previous_employments) for _ in range (adventurers_t2.shape[0])])

adventurers_t2.insert(loc=4,
                   column='date_of_birth',
                   value=[get_random_date_of_birth(adventurers_t2.at[i, 'start_of_employment'])
                          for i in range (adventurers_t2.shape[0])])

In [80]:
# Modify religion of some adventurers
MODIFY_RELIGION_COUNT = 350

for i in range(MODIFY_RELIGION_COUNT):
    adventurers.at[i, 'religion']= random.choice(religions)

In [81]:
# concat and save the two

adventurers_t2 = pd.concat([adventurers, adventurers_t2], axis=0).reset_index(drop=True)

print(adventurers_t2.head)


adventurers_t2.to_csv(arcane_evaluation_t2_output_filepath, index=False)

<bound method NDFrame.head of             id   name surname      race date_of_birth  level      class  \
0            0  Puryr  Fgigys     Gnome    1988-12-19     18   sorcerer
1            1  Pyzil  Xmekar  Halfling    1974-07-12     10    warlock
2            2  Kysif  Ccutid     Human    1985-12-03      4   sorcerer
3            3  Fipep  Sfomuh     Gnome    1961-03-19     19     cleric
4            4  Xalow  Mhoder  Half-Orc    1988-07-25      5     wizard
...        ...    ...     ...       ...           ...    ...        ...
200295  200295  Gihup  Gkateh  Halfling    1970-11-20     15       monk
200296  200296  Wajeb  Bruzij  Tiefling    1968-01-11      4     ranger
200297  200297  Haxob  Kzaseb       Elf    1971-10-25      7       monk
200298  200298  Gyxox  Hbyzev     Human    1974-12-30     17     wizard
200299  200299  Jipef  Vcigix     Dwarf    1965-07-12     18  barbarian

       start_of_employment end_of_employment   religion previous_employment
0               1999-05-10                          Tyr           Mercenary
1               1990-07-09                        Bhaal          Blacksmith
2               1997-11-13                       Talona                None
3               1989-04-04                       Savras          Blacksmith
4               1999-12-31                         Torm              Farmer
...                    ...               ...        ...                 ...
200295          1998-01-28                        Azuth           Fisherman
200296          1985-07-11                       Selune               Miner
200297          1992-09-19                    Lathander               thief
200298          1992-03-05                     Loviatar          Apothecary
200299          1995-06-13                        Malar    Academic Scholar

[200300 rows x 11 columns]>