In [43]:
import pyodbc
server = 'LAPTOP-G2C53J66'
database = 'arcane_vault'
username = 'admin'
password = 'admin'

conn = pyodbc.connect(
    'DRIVER={SQL Server};' +
    'SERVER='+ server + ';' +
    'DATABASE=' + database + ';' +
    'UID=' + username + ';' +
    'PWD=' + password)

cursor = conn.cursor()

adventurers_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\adventurers.csv'

facilities_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\facilities.csv'

civilizations_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\civilizations.csv'

destinations_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\destinations.csv'

adventures_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\adventures.csv'

artifacts_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\artifacts.csv'

participations_path = 'D:\\Projekty\\Hurtownie Danych\\fantasy-data-generator\\data\\participations.csv'

In [44]:
adventurers_insert_query = f'''
BULK INSERT adventurers
FROM '{adventurers_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(adventurers_insert_query)
conn.commit()

In [45]:
facilities_insert_query = f'''
BULK INSERT facilities
FROM '{facilities_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(facilities_insert_query)
conn.commit()

In [46]:
civilizations_insert_query = f'''
BULK INSERT civilizations
FROM '{civilizations_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(civilizations_insert_query)
conn.commit()

In [47]:
participations_insert_query = f'''
BULK INSERT participations
FROM '{participations_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(participations_insert_query)
conn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK__particip__675C256D1E9C8D37'. Cannot insert duplicate key in object 'dbo.participations'. The duplicate key value is (29046, 43940). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

In [ ]:
destinations_insert_query = f'''
BULK INSERT destinations
FROM '{destinations_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(destinations_insert_query)
conn.commit()

In [ ]:
adventures_insert_query = f'''
BULK INSERT adventures
FROM '{adventures_path}'
WITH (
    FIRSTROW=2,
    FIELDTERMINATOR=',',
    ROWTERMINATOR='0x0a'
)
'''

cursor.execute(adventures_insert_query)
conn.commit()

In [ ]:
conn.close()